@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply px-4 py-3 my-4 text-center text-sm font-semibold inline-block text-white cursor-pointer uppercase transition duration-200 ease-in-out rounded-md focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 active:scale-95;
  @apply bg-pink-800 hover:bg-pink-700 focus-visible:ring-pink-700;
}

input,
textarea {
  @apply bg-zinc-900 w-full px-4 py-4 rounded-md font-light text-base border-solid border-2 border-zinc-700 mt-2 focus:ring-1 ring-slate-500 focus:outline-none focus:bg-zinc-900 leading-tight;
  @apply lg:bg-zinc-900 lg:border-zinc-700 lg:focus:bg-zinc-900;
  color-scheme: dark;
}

#__nuxt {
  display: contents;
}

body {
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

#teleports {
  position: fixed;
  top: 0;
  left: 0;
}
