// The full css is here: https://unpkg.com/@picocss/pico@latest/css/pico.min.css

img, video
  width: 100%
  object-fit: cover
  border-radius: .5em

article
  box-shadow: unset

html, body
  overflow-x: hidden

@media (max-width: 575px)
  :root
    --font-size: 18px

@media (min-width: 576px)
  :root
    --font-size: 19px

@media (min-width: 1200px)
  :root
    --font-size: 20px
